@page
@model RazorPizzeria.Pages.OrdersModelModel
@{
}
<h3>Orders</h3>


<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Pizza Name
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var orders in Model.PizzaOrders)
        {
            <tr>
                <td>
                    @orders.Id
                </td>
                <td>
                    @orders.PizzaName
                </td>
                <td>
                    @orders.BasePrice
                </td>
                
            </tr>
           
        }    
    </tbody>
</table>